<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Hub</title>

    {{bootstrap.load_css()}}
</head>
<body>
    <br><br><br>
    <h1>Welcome to the Content Hub</h1>
    <h2>Please Create an Account</h2>

    <br><br>

    <form>
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname">
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password">
        <label for="confirm">Confirm Password:</label><br>
        <input type="text" id="confirm" name="confirm"><br><br>
        <input type="submit" value="Submit">
    </form>

    <br><br><br><br>

    <p>Already have an account?</p>
    <button>Sign In</button>
</body>
</html>