<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Hub</title>

    <style>
        * {
            text-align: center;
        }
    </style>

    {{bootstrap.load_css()}}
</head>
<body>
    <br><br><br>
    <h1>Welcome to the Content Hub</h1>
    <h2>Please Create an Account</h2>

    <br><br>

    <form method="POST" action="/create_an_account">
        {{ form.csrf_token }}
        {{ form.fname.label }} 
        {{ form.fname(size=32) }}
        <br><br>
        {{ form.lname.label }} 
        {{ form.lname(size=32) }}
        <br><br>
        {{ form.username.label }} 
        {{ form.username(size=32) }}
        <br><br>
        {{ form.password.label }} 
        {{ form.password(size=32) }}
        <br><br>
        <input type="submit" value="Submit">
    </form>


    <br><br><br><br>
    <a href="{{ url_for('sign_in') }}">Already have an account?</a>
</body>
</html>