<!DOCTYPE html>
<html lang = "eg">

    <head>
        <meta charset="UTF-8">
        <title>main page</title>
    </head>

    <body>
        <h2 class="card-title">Welcome to the main page!</h2>
        <form method = "POST" action = "/">
            {{ form.csrf_token }}
            {{ form.chosen_page }}
            <input type = "submit" value = "Go to page">
        </form>

        <div style="position: absolute; top: 20px; right: 20px; z-index: 1000;">
            {% if session.get('user_id') %}
                <span class="me-2">Hello, <b>{{ session.get('username') }}</b></span>
                <a href="/dashboard" class="btn btn-success">Go to Dashboard</a>
                <a href="/logout" class="btn btn-outline-danger btn-sm">Logout</a>
            {% else %}
                <a href="/login" class="btn btn-primary" style="font-size: 1.5rem;">Login </a>
                <p style="display: inline-block; width: 10px; font-size: 1.5rem;">/</p>
                <a href="/signup" class="btn btn-outline-secondary" style="font-size: 1.4rem;">Sign Up</a>
            {% endif %}

        </div>
    </body>
</html>