<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Hub</title>

    <style>
        * {
            text-align: center;
        }
    </style>

    {{bootstrap.load_css()}}
</head>
<body>
    <br><br><br>
    <h1>Welcome to the Content Hub</h1>
    <h2>Please Sign In</h2>

    <br><br>

    <!-- <form>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form> -->

    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.username.label }} 
        {{ form.username(size=32) }}
        <br><br>
        {{ form.password.label }} 
        {{ form.password(size=32) }}
        <br><br>
        <input type="submit" value="Submit">
    </form>


    <br><br><br><br>
    <p>Don't have an account?</p>
    <button href="{{ url_for('create_account') }}">Create Account</button>
</body>
</html>